.thank_content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.thanks_heading {
    margin: 50px;
    padding: 50px;
    border: 50px;
    text-align: center;
}

.home_button {
     
}